---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Industries from '../components/Industries.astro';
import Technologies from '../components/Technologies.astro';
import Portfolio from '../components/Portfolio.astro';
import Team from '../components/Team.astro';
import Testimonials from '../components/Testimonials.astro';
import Blog from '../components/Blog.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Cortez Web - Desarrollo Web de Alto Nivel">
  <Header />
  <main class="pt-24 pb-12 px-6 max-w-7xl mx-auto">
    <Hero />
    <Services />
    <Industries />
    <Technologies />
    <Portfolio />
    <Team />
    <Testimonials />
    <Blog />
    <Contact />
  </main>
  <Footer />
</Layout>
